<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyou.cla.mapper.PersonMapper">
    <!--<resultMap id="OrderWithDetail" type="com.leyou.order.pojo.Order" autoMapping="true">-->
    <!--<id column="order_id" property="orderId"></id>-->
    <!--</resultMap>-->
    <resultMap id="personMap" type="com.leyou.cla.pojo.Person" autoMapping="true">
        <result column="person_id" property="personId"></result>
        <result column="person_name" property="personName"></result>
        <result column="class_id" property="classId"></result>
        <result column="memo" property="memo"></result>
        <result column="create_by" property="createBy"></result>
        <result column="create_name" property="createName"></result>
        <result column="create_Date" property="CreateDate"></result>
        <result column="active" property="active"></result>
    </resultMap>

    <!--分页查询-->
    <select id="queryList" resultMap="personMap">
        SELECT *
        FROM tb_person t1
        <where> 1 = 1
            <if test="classId != null and classId != ''">
                and t1.class_id = #{classId}
            </if>
        </where>
        limit #{pageSize} offset #{page}
    </select>

    <!--新增-->
    <insert id="addBean" parameterType="com.leyou.cla.query.PersonQuery">
        insert into tb_person
        <trim prefix="(" suffix=")" suffixOverrides=",">
          person_id,
          class_id,
          person_name,
          memo,
          create_by,
          create_name,
          create_date,
          active
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{personId},
            #{classId},
              #{personName},
            #{memo},
            #{createBy},
            #{createName},
            #{createDate},
            #{active}
        </trim>
    </insert>

    <!--更新-->
    <update id="updateBean" parameterType="com.leyou.cla.query.PersonQuery">
        update tb_person
        set
          person_name = #{personName},
          memo = #{memo},
          active = #{active}
        <where>
            person_id = #{personId}
        </where>
    </update>

    <!--删除-->
    <delete id="deleteBean">
        delete from tb_person
        where person_id = #{id}
    </delete>
</mapper>